<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- <property name="show_sql">true</property>
        <property name="format_sql">true</property> -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        
        <!--
        <property name="hibernate.connection.url">jdbc:mysql://aarhpvt3asu3ei.cvbsp7fnl0iy.us-west-2.rds.amazonaws.com:3306/financialDataYahoo</property>
        <property name="hibernate.connection.username">masterDB</property>
        <property name="hibernate.connection.password">Ym646894</property>
        -->
        
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/financialDataYahoo</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">000000</property>
       
        <property name="hibernate.connection.pool.size">20</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <mapping class="com.financial.pojo.Stock"/>
        <mapping class="com.financial.pojo.EarningDate"/>
        <mapping class="com.financial.pojo.BalanceSheetAnnual"/>
        <mapping class="com.financial.pojo.BalanceSheetQuarter"/>
        <mapping class="com.financial.pojo.CashFlowAnnual"/>
        <mapping class="com.financial.pojo.CashFlowQuarter"/>
        <mapping class="com.financial.pojo.IncomeStateAnnual"/>
        <mapping class="com.financial.pojo.IncomeStateQuarter"/>
        <mapping class="com.financial.pojo.StockPrice"/>
    </session-factory>
</hibernate-configuration>
